<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <div class="main">
            <div class="history-container">
                <div>Historico</div>
                <div class="history1" id="history1"></div>
                <div class="history2" id="history2"></div>
            </div>
            <div class="search-area">
                <input class="cep-input" type="text" id="cepInput" placeholder="Digite o CEP">
                <button class="search-btn" onclick="buscarCEP()">Buscar</button>
            </div>
            <div class="result" id="resultado"></div>
            
        </div>
    </body>
</html>